:root {
  --color-black-dark: #1e272e;
  --color-gray-light: #ecf0f1;

  --color-frontend: #6bd1ff;
  --color-infra: #9cd33b;
  --color-backend: #00c86f;
  --color-marketing: #6b5be2;
  --color-mobile: #ffba05;
  --color-inovation: #ff8c2a;
  --color-ux: #dc6ebe;
  --color-data-science: #9cd33b;
}
